@model IEnumerable<BookStore.Models.Category>

<ul class="navbar-nav">
    @foreach (var category in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Books" asp-action="Index" asp-route-categoryId="@category.Id">
                @category.Name
            </a>
        </li>
    }
</ul>
